.nav-container {
  position: relative;
  left: 0;
  width: 100vw;
  padding: 0 10px;
  transition: left 250ms;
}

@media only screen and (min-width: 1024px) {
  .nav-container {
    width: calc(100vw - 260px);
    left: 255px;
  }
}